# Startup apps

# 1 firefox
exec --no-startup-id sh -c "i3-msg 'workspace 1; exec /usr/bin/firefox'"

# 2 terminal
exec --no-startup-id sh -c "i3-msg 'workspace 2; exec /usr/bin/alacritty'"

# 3 gitkraken
# exec --no-startup-id sh -c "i3-msg 'workspace 3; exec /usr/bin/gitkraken'"

# 4 Google chrome
exec --no-startup-id sh -c "i3-msg 'workspace 4; exec /usr/bin/google-chrome'"

# 5 Discord 
exec --no-startup-id sh -c "i3-msg 'workspace 5; exec /snap/bin/discord'"
