# Execute commands
# exec always, works whenever the config is reloaded

exec_always "setxkbmap -layout us,ir"
exec_always "setxkbmap -option 'grp:caps_toggle'"
exec_always killall -q polybar
exec_always polybar bar --config="$HOME/.config/polybar/config.ini"
exec_always feh --bg-fill ~/Pictures/night-city.png

